<div class="note-wrapper">
  <div class="row">
    <div class="col-md-3 mt-3" *ngFor="let note of notes">
      <app-note-card [note]="note" [noteForm]="noteForm"></app-note-card>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary mt-2"
    data-bs-toggle="modal"
    data-bs-target="#addNotesModal"
  >
    Create note
  </button>

  <app-modal
    [modalConfig]="{
      id: 'addNotesModal',
      modalLabel: 'Create new note',
      modalTitleLabel: 'Title',
      modalTextLabel: 'Text',
      modalResumeBtnText: 'Submit'
    }"
    [noteForm]="noteForm"
    [action]="'create'"
  ></app-modal>

  <app-modal
    [modalConfig]="{
      id: 'editNotesModal',
      modalLabel: 'Edit',
      modalTitleLabel: 'Title',
      modalTextLabel: 'Text',
      modalResumeBtnText: 'Submit'
    }"
    [noteForm]="noteForm"
    [action]="'edit'"
  >
  </app-modal>
</div>
